<div class="widget row">

	<div class="col-3">Data Array:</div>
	<div class="col-9"><input type="text" [(ngModel)]="dataArrayString"></div>
	<div class="col-3">Layout Array:</div>
	<div class="col-9"><input type="text" [(ngModel)]="layoutArrayString"></div>
	<div class="col-3">Output Array:</div>
	<div class="col-9 text-success">{{outputArrayString}}</div>
	<div class="col-3">Table Format:</div>
	<div class="col-9">
		<table class="table">
			<tr *ngFor="let row of outputArray">
				<td *ngFor="let cell of row">{{cell}}</td>
			</tr>
		</table>
	</div>

	<div class="col-12 mt-2">
		<button class="btn btn-primary btn-block" (click)='calculate()'>Calculate</button>
	</div>
	
</div>
